.places h1 {
	font-size: 30px;
	margin-left: 0;
}

.places article {
	padding: 20px;
	margin: 20px;
	width: 390px;
	border: 1px solid #FF5A5F;
	border-radius: 1px;
	display: inline-block;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}
